
<img height="100" src="~/Images/Learn/Tank.png" style="image-rendering: pixelated;" />

<p>Basic combat unit, effective against most enemy ground units except medium tanks and neotanks. Watch out for enemy mechs though!</p>

