
    <img height="100" src="~/Images/Learn/Mech.png" style="image-rendering: pixelated;" />

<p>Cheap unit used for countering recons and tanks, does not stand up well to medium tanks and neotanks. It's weakness is that it is very slow. Since the mech is infantry it can also capture buildings.</p>

