
<img height="100" src="~/Images/Learn/NeoTank.png" style="image-rendering: pixelated;" />

<p>Strongest ground unit in the game, effective against all enemy ground units. Watch out for enemy rockets and bombers.</p>

