
<img height="100" src="~/Images/Learn/Rockets.png" style="image-rendering: pixelated;" />

<p>Advanced range unit. Long range and high damage but very slow and needs to be protected. The main counter to Neotanks other than bombers.</p>

