
<img height="100" src="~/Images/Learn/Bomber.png" style="image-rendering: pixelated;" />

<p>Used to destroy enemy ground units. Great movement speed and very high damage. Watch out for anti air and fighters.</p>

