@model WolfDen.Game.Behaviours.CombatBehaviour.NormalCombatBehaviourTemplate
@using WolfDen.Game

<h2>Combat</h2>
<p>Move next to an enemy unit to attack it.</p>

<h3>Damage</h3>

<partial name="DamageChart" model="Model" />