#replay {
    width: 150px;
    height: 50px;
    position: fixed;
    left: 50%;
    bottom: 50px;
    display: none;
    margin-left: -50px;
    background-color:white;
    padding:10px;
}

#replayGoto{
    width: 50px;
}
