@page
@{
    ViewData["Title"] = "SaveFailed";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}



<div class="row Index">
    <div class="col-md-4" style="text-align:center;">
        <img height="600" src="~/Images/art/aw2-adder.png" />
    </div>
    <div class="col-md-6 Message">
        <div id="speechBox" class="bg-white">
            <img id="speechBoxImg" src="~/Images/art/speechBox.png" />
            <h2 class="">It would appear something went wrong with your save. What a shame.</h2>
        </div>
    </div>
</div>

