@page
@{
    ViewData["Title"] = "SaveSuccesfull";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="row Index">
    <div class="col-md-4" style="text-align:center;">
        <img height="600" src="~/Images/art/aw2-andy.png" />
    </div>
    <div class="col-md-6 Message">
        <div id="speechBox" class="bg-white">
            <img id="speechBoxImg" src="~/Images/art/speechBox.png" />
            <h2 class="">Game saved!</h2>
        </div>
    </div>
</div>
