@page
@model WolfDen.Pages.LearnModel
@{
    ViewData["Title"] = "Learn";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Learn</h1>
<p>Advance wars 2 is a turn-based strategy game where you build armies and fight your opponent. This page aims to give a general overview of the game mechanics. For a detailed overview check the advance wars wiki <a href="https://advancewars.fandom.com/wiki/Advance_Wars_Wiki">here</a>. This version is based on <a href="https://advancewars.fandom.com/wiki/Advance_Wars_2:_Black_Hole_Rising">Advance Wars 2: Black Hole Rising</a>. To play the original game (using an emulator) which also contains a full tutorial go <a href="https://www.playemulator.com/gba-online/advance-wars-2-black-hole-rising/">here</a>. The version you are looking at here was created to support online matches with a high number of players. </p>

<h4>Controls</h4>
<p>Press space to end your turn and use the mouse to select/deselect your units.</p>

<h2>How to play</h2>
<ol>
    <li>Build infantry</li>
    <li>Capture buildings to aquire more gold</li>
    <li>Build an army and destroy the enemy army</li>
    <li>Use infantry to capture the enemy HQ</li>
</ol>

<h4>Building units</h4>
<p>Click on a factory, airport or seaport to pull up the shop menu. Select the unit you want to build. You can only build units if you have enough gold, you can see your gold in the top left of the screen. For more information about the units check <a asp-area="" asp-page="/Learn/UnitList">here</a>.</p>

<h4>Income</h4>
<p>You gain gold at the start of every turn. You gain a 1000 gold for every building you own and unit repair costs are substracted from you gold income.</p>

<h4>Capturing buildings</h4>
<p>You can capture an enemy or neutral building by moving your infantry or mech on it. Buildings are not captured in one go and you must select your unit and give the capture command again the next turn until the building is captured. Units that are damaged capture building at a slower rate.</p>

<h4>Combat</h4>
<p>To initiate combat select your unit, then move it next to an enemy unit and click on the enemy unit to attack. Enemy units will counter attack after being attacked. The amount of damage depends on unit health, unit strength and terrain defense. To see unit strengths check <a asp-area="" asp-page="/Learn/UnitList">here</a> and for the exact damage formula check <a href="https://awbw.fandom.com/wiki/Damage_Formula" >here</a>.</p>
<p>When you select a unit a <span style="color:red;">red</span> text indicator appears over every enemy unit displaying how much damage your unit will do (this does not take into account critical hits). After moving next to an enemy unit and hovering over the enemy unit a <span class="textOutline">yellow</span> text indicator will appear over your unit and the enemy unit displaying the resulting health values after the attack.</p>

<h4>Repairing units</h4>
<p>Units with full health do not show their health number however if a unit is damage you can see it's health at the top left of the unit (in %). Units that start their turn on one of your buildings are healed for 20% of their health and this cost is subtracted from your income. The cost of repairing is proportional to the unit's cost and amount healed.</p>

